p{
    border: 1px dotted black;
    padding: 50px;
    margin: 100px;
    color:aqua;
}

#head{
    background-image: url("images/image.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
}